.FeedbackOptionsList {
  display: flex;
}
li:not(:last-child) {
  margin-right: 20px;
}
button {
  cursor: pointer;
  display: inline-block;
  padding: 8px;
  width: 80px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 115, 168, 0.596);
  color: white;
  font-size: 17px;
}
button:hover {
  background-color: rgba(0, 89, 131, 0.596);
}
